```
# Build artifacts
caper-app/extensions/hat-designer/assets/*.js
caper-app/extensions/hat-designer/assets/*.svg
caper-app/extensions/hat-designer/assets/*.png

# Environment variables
.env.local
.env
*.env.*

# Dependencies
node_modules/
```